<!DOCTYPE html>
<html lang="en">
  <head></head>

    <% include partials/_header %>

    <% if (userCookie) { %>
       <p style="color:blue;">Logged in as: <%= userCookie %></p>
            <form method="POST" action="/logout">
            <input type="submit" value="Logout">
            </form>
    <% } else { %>
       <p>Please login:</p>
            <form action="/login" method="POST">
              <label for="email">Enter your email:</label>
              <input id="email" type="email" name="email" placeholder="email: " style="width: 300px">
              <br>
              <label for="password">Enter your password:</label>
              <input id="password" type="password" name="password" placeholder="enter pwd here" style="width: 300px">
              <input type="submit" value="Submit">
            </form>

    <% } %>
        <form action="/register">
        <input type="submit" value="Register" />
        </form>




  </body>
</html>